---
import Button from "./Button.astro";
import "../styles/style.css";
---

<header>
  <a class="logo" href="/"><img src="/imgs/logo_lilla.svg" alt="" /></a>
  <a href="https://venue.swingdev.online/#/login" target="_blank"
    ><div class="knap"><Button variant="venue_btn">Venue Login</Button></div></a
  >
</header>
<style>
  .logo {
    filter: brightness(100%);
    transition: 0.3s;
  }
  .logo:hover {
    filter: brightness(50%);
    transition: 0.3s;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: inherit;
  }

  .knap {
    align-self: center;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  a {
    text-decoration: none;
  }
</style>
